{% extends "layouts/main.html" %}

{% block pageTitle %}
  Fuel applications – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "dashboard"
      },
      {
        text: "Fuel applications",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Fuel applications
      </h1>

      <table class="govuk-table govuk-!-margin-bottom-9">
      <caption class="govuk-table__caption govuk-table__caption--l">Not started</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-half">Fuel</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">0318</th>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">Grillaedin White Quebracho</td>
          <td class="govuk-table__cell govuk-table__cell"><a href="0318/review-application">Start review <span class="govuk-visually-hidden">of application 2001</span></a></td>
        </tr>
      </tbody>
    </table>


    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--l">In progress</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Application</th>
        <th scope="col" class="govuk-table__header govuk-table__header">Fuel</th>
        <th scope="col" class="govuk-table__header govuk-table__header">Reviewer</th>
        <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">0317</th>
        <td class="govuk-table__cell govuk-table__cell">Kings Starterlog</td>
        <td class="govuk-table__cell govuk-table__cell">Robert Williamson</td>
        <td class="govuk-table__cell govuk-table__cell"><a href="0317/review-application?kingstatus=yes">Continue review <span class="govuk-visually-hidden">of application 2000</span></a></td>
      </tr>
    </tbody>
    </table>

    </div>
  </div>

{% endblock %}
